<!DOCTYPE html>
  <html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
      <h1>I'm coding in a Starbucks.</h1>
      <p>So far this unit is going pretty well and I'm enjoying what I'm learning. Hopefully the project mode will be less traumatic this time around.</p>
    </body>
  </html>
